.threedrender {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.threedrender canvas {
  position: absolute;
  bottom: 0;
  left: 0;
  height: auto;
  width: 100%;
  z-index: 1;
}

.guides {
  position: absolute;
  bottom: 0;
  left: 0;
  height: auto;
  width: 100%;
  z-index: 1;
}
