.remoteContainer {
  margin-top: 10px;
  width: 100%;
  height: 85vh;
  border-radius: 30px;
  position: relative;
  background-color: black;
}

.buttonContainerUser {
  bottom: 10px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.spinnerContainer {
  padding-top: 5%;
  padding-left: 50%;
}

.video-player {
  background-color: black;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}
